@page "/products"
@using MauiApp1.Model

@inject IProductService ProductService

@layout ProductLayout

<h3>Hello from Products</h3>
<div style="display: flex">
    @foreach (var product in ProductService.GetAllProducts() )
    {
        <ProductCard Product="@product"/>
    }
</div>

@code
{
    @*ProductService productService = new();*@   
    
    List<Product> products;
}

