@page "/profile"

<img src=@photoPath>
<h3>Name:  @studentName</h3>
<h3>CourseName: @courseName</h3>
<h3>BatchYear: @batchYear</h3>
@code
{
    string photoPath = "images/student.jpeg";
    string studentName = "Seer Bahadur Pant";
    string courseName = ".net maui huybird traning";
    string batchYear = "2025";
}
